flask==3.1.0
Flask-Login==0.6.3
Flask-Session==0.8.0
flask-wtf==1.2.2
requests==2.32.3
beautifulsoup4==4.13.4 
pandas==2.2.3 
elg==0.6.0 
gunicorn==23.0.0
xmltodict==0.14.2
dateparser==1.2.1
rank_bm25==0.2.2
python-dotenv==1.1.0
openai==1.75.0
elasticsearch==8.14.0
ua_parser==1.0.1
email-validator==2.2.0
flask-ipban==1.1.5