<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        NFDI4DS | UHH-SEMS - {% block title %}{% endblock %}
    </title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap5.min.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/alertify.min.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!-- for locations and map services in organization-details page -->
    <!-- Include Leaflet CSS -->
    <!-- <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/> -->

    <!-- Include Leaflet JavaScript -->
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script> -->

    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-all.min.css') }}" /> -->
    <!-- Google Fonts -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/font-google-roboto.css') }}" /> -->
    <!-- MDB -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" /> -->

    <!-- Specific Page CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>

    <!-- #Main ============================ -->
    <div class="page-container">

        {% include 'includes/header.html' %}

        {% block content %}{% endblock content %}

        <div style="flex-grow:1"></div>

        {% include 'includes/footer.html' %}



    </div>

    {% include 'includes/scripts.html' %}


    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        // $(document).ready(function () {
        var notification = alertify.notify('{{ message }}', '{{ category }}', 60);
        // });
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block javascripts %}{% endblock javascripts %}
</body>