
* {
  box-sizing: border-box;
}

.details_wrapper {
  margin-bottom: 330px;
  overflow: visible;
  min-height: calc(100vh - 170px);
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-left: 40px;
}

/* Header/Blog Title */
.header {
  padding: 1px;
  font-size: 40px;
  text-align: center;
  background-color:  WhiteSmoke;
}

.details_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  margin: 50px
}

/* Add a card effect for articles */
.leftcard {
  flex: 69%;
  background-color: WhiteSmoke;
  padding: 20px;
  /* margin-top: 20px; */
}

.rightcard {
  flex: 30%;
  background-color: WhiteSmoke;
  padding: 20px;
  /* margin-top: 20px; */
}

.leftcard ul, 
.rightcard ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.leftcard li,
.rightcard li {
  margin-bottom: 5px;
}

@media (max-width: 800px) {
  .leftcard, .rightcard {
    flex: 100%;
  }
}