<!-- <script src="{{ url_for('static', filename='js/plugins/popper.min.js') }}"></script> -->
<script src="{{ url_for('static', filename='cp-assets/js/plugins/simplebar.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/plugins/bootstrap.min.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='cp-assets/js/config.js') }}"></script>
<script src="{{ url_for('static', filename='cp-assets/js/pcoded.js') }}"></script>
<script src="{{ url_for('static', filename='cp-assets/js/layoutTheme.js') }}"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>
<!-- <script
    src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/rg-1.2.0/datatables.min.js"></script> -->

<!--date range-->
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>