<footer class="mt-3  bg-light">
    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h3 class="f-title">Powered by</h3>
                <ul class="list-unstyled f_list">
                    <li style="gap: 5%;">
                        <a target='_blank' href="https://www.inf.uni-hamburg.de/en/inst/ab/sems/home.html"
                            title="Semantic Systems - Universität Hamburg">
                            <img class="powered-by-logo" src="{{ url_for('static', filename='images/sems-logo.png') }}"
                                alt="SEMS" />
                        </a>
                        <a target='_blank' href="https://www.nfdi4datascience.de/"
                            title="Nationale Forschungsdateninfrastruktur (NFDI) e.V. for Data Science"><img
                                class="nfdi4ds-logo" src="{{ url_for('static', filename='images/logo_NFDI4DS.svg') }}"
                                alt="NFDI4DS" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3 class="f-title">Legal</h3>
                <ul class="list-unstyled f_list">
                    <li class="mt-4"><a target='_blank'
                            href="https://www.leuphana.de/en/site-notice-leuphana.html">Impressum</a>
                        <a target='_blank' href="https://www.leuphana.de/en/privacy-policy.html">Datenschutz</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h3 class="f-title">Connect</h3>
                <ul class="list-unstyled f_list fs-2">
                    <li>
                        <a target='_blank' href="mailto: nfdi4ds.inf@lists.uni-hamburg.de" title="Write to us"><i
                                class="bi bi-envelope-at-fill"></i></a>
                        <a target='_blank' href="https://www.linkedin.com/company/nfdi4ds/" title="Linkedin"><i
                                class="bi bi-linkedin"></i></a>
                        <a target='_blank' href="https://github.com/NFDI4DS" title="Github"><i
                                class="bi bi-github"></i></a>
                        <a target='_blank' href="https://twitter.com/nfdi4ds" title="Twitter"><i
                                class="bi bi-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>