<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <a href="/" class="d-flex align-items-center me-2 me-lg-0 text-dark text-decoration-none">
                    <img src="{{ url_for('static', filename='images/logo_NFDI4DS.svg') }}" width="100" height="60"
                        role="img" aria-label="NFDI4DS Search Engine" />
                </a>
            </div>
            <div>
                <div class="d-inline-block">
                    {% if search_term %}
                    <form name="searchbox" class="col-auto mb-3 mb-lg-0 me-lg-3" action="/results" method="GET"
                        onsubmit="return emptySearch()">
                        <!-- <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> -->
                        <div>
                            <div class="searchbox searchbox_small">
                                <svg aria-hidden="true" viewBox="0 0 24 24">
                                    <path
                                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                                </svg>
                                <input class="form-control" aria-label="Search for Article, Researcher"
                                    autocomplete="off" inputmode="search" placeholder="Search for Article, Researcher"
                                    type="search" name="txtSearchTerm" value="{{search_term}}" />
                                <div class="text-secondary" id="emptySearch" style="padding-left: 50px;"></div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
                <!-- <div class="d-inline-block">
                    <a href="#" class="nav-link px-2 link-dark">About Us</a>
                </div> -->
                <div class="d-inline-block">
                    <!-- NFDI4DS Button-->
                    <div class="col-auto mb-3 px-2 pt-2 mb-lg-0 me-lg-3 nfdi4ds-banner" data-variant="button"
                        data-button-color="light" data-menu-color="light"></div>
                    <script>
                        (function (w, d, s, o, f, js, fjs) {
                            w['nfdi4dsWidget'] = o;
                            w[o] =
                                w[o] ||
                                function () {
                                    (w[o].q = w[o].q || []).push(arguments);
                                };
                            (js = d.createElement(s)),
                                (fjs = d.getElementsByTagName(s)[0]);
                            js.id = o;
                            js.src = f;
                            js.async = 1;
                            fjs.parentNode.insertBefore(js, fjs);
                        })(window, document, 'script', 'nfdi4ds', 'https://tibhannover.gitlab.io/nfdi4ds/nfdi4ds-widget/widget.js');
                        nfdi4ds('widget');
                    </script>
                    <!-- End NFDI4DS Button -->
                </div>
                <div class="d-inline-block" style="vertical-align: super;">
                    <div class="dropdown">
                        {% if current_user.is_anonymous %}
                        <a class="btn btn-success px-4 py-0" href="{{ url_for('login') }}">Login</a>
                        {% else %}
                        <button class="btn btn-success dropdown-toggle px-4 py-0" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Hi, {{ current_user.first_name }}!
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="{{ url_for('profile') }}">Profile</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('preferences') }}">Preferences</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a></li>
                        </ul>
                        {% endif %}

                    </div>
                </div>
            </div>
            <!--dark and light switch -->
            <!-- <div class="d-flex">
                    <div class="form-check form-switch ms-auto mt-3 me-3">
                        <label class="form-check-label ms-3" for="lightSwitch">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-brightness-high" viewBox="0 0 16 16">
                                <path
                                    d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                                </path>
                            </svg>
                        </label>
                        <input class="form-check-input" type="checkbox" id="lightSwitch">
                    </div>
                </div> -->
        </div>
    </div>
</header>