<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}"></script>

<!-- dark and light mode switch -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/switch.js') }}"></script> -->

<!-- Bootstrap Nav Paginator -->
<script src="{{ url_for('static', filename='js/bootstrap-nav-paginator.js') }}"></script>

<!-- Chatbox -->
<script type="text/javascript" src="{{ url_for('static', filename='js/handlebars.min.js') }}"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/chatbox.js') }}"></script>

<!-- Alertify -->
<script type="text/javascript" src="{{ url_for('static', filename='js/alertify.min.js') }}"></script>