<ol class="list-group list-group-numbered references">
    {% for reference in publication.reference %}
    <li class="list-group-item d-flex justify-content-between align-items-start border-0">
        {% if reference.identifier == "" %}
        <span class="text-secondary">{{reference.text}}</span>
        {% else %}
        <a class="text-secondary"
            href="/publication-details/{{reference | format_digital_obj_url('source-name','source-id', 'doi')}}"
            target='_blank'><i class="pull-left bi bi-link-45deg"></i>&nbsp;{{reference.text}}</a>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% if publication.reference|length == 0 %}
No references found
{% endif %}