<ol class="list-group list-group-numbered">
    {% for reference in publication.reference %}
    <li class="list-group-item border-0">
        {% if reference.identifier == "" %}
        {{reference.text}}
        {% else %}
        <a class="text-secondary"
            href="{{ url_for('publication_details', doi='doi:'+reference.identifier | quote, source_id='source-id:'+reference.source[0].identifier | quote, _external=True) }}"
            target='_blank'>{{reference.text}}</a>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% if publication.reference|length == 0 %}
No references found
{% endif %}