{% macro previewModal(modal_id, title, img_src) %}
<div id="{{modal_id}}" class="modal">
    <div class="modal-dialog modal-dialog-scrollable" style="max-width : 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{title}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="{{img_src}}" class="figure-img img-fluid border border-dark">
                <figcaption>
                </figcaption>
            </div>
        </div>
    </div>
</div>

{% endmacro %}