{% extends "search_layout.html" %}
{% block title %}{{name}}{% endblock %}
{% block style_sheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">{% endblock %}
{% block content %}
    <div style="margin-left:10px;">
    <h1> {{name}}</h1>
        <ul>
            {% for detail, value in details.items() %}
                {%if detail == 'ORCID number' or detail == 'OpenAlex' %}
                    <li> {{ detail  }}: <a href="{{value}}" target="_blank">{{ value }}</a></li>
                {% else %}
                    <li> {{ detail}}: {{  value }}</li>
                {%endif %}
            {% endfor %}
        </ul>
</div>
{% endblock %}