<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">


<footer class="footer bg-light">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Powered by</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="https://www.nfdi.de/?lang=en">NFDI</a></li>
                            <li><a href="https://nfdi4cat.org/en/">NFDI4Cat</a></li>
                            <li><a href="https://www.fokus.fraunhofer.de/en">Fraunhofer FOKUS</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Legal</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="#">Impressum</a></li>
                            <li><a href="#">Datenschutz</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Connect</h3>
                        <ul class="list-unstyled f_list">
                            <li><a href="https://www.linkedin.com/company/nfdi4ds/">Linkedin</a></li>
                            <li><a href="https://github.com/NFDI4DS">Github</a></li>
                            <li><a href="https://twitter.com/nfdi4ds">Twitter</a></li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                        style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Connect</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fab fa-facebook"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                            <a href="#" class="fab fa-pinterest"></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-sm-12">
                    <p class="mb-0 f_400 text-center">© NFDI4DataScience 2023. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>