{% extends "layouts/base.html" %}

{% block title %} Funding Details{% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}
<style>
   
 
</style>
{% endblock stylesheets %}

{% block content %}

<!-- ### main content ### -->
<main class=''>
    <div id='mainContent' class="container">

        <div class="row pb-4">
            <div class="col text-start">
                <a href="#"><i class="bi bi-arrow-left-circle-fill me-2"></i>Back to results</a>
            </div>
        </div>
        <div class="row border-bottom pb-4">
            <div class="col-7 text-start">
                <h3>{{project.name}}</h3>
                <div class="py-2">
                    <span class="badge bg-pill">{{project.source}}</span>
                    <span class="badge bg-pill">{{project.inLanguage}}</span>
                    {% for language in project.availableLanguage.split(',') %}
                    <span class="badge bg-pill">{{ language }}</span>
                    {% endfor %}
                </div>
                <div class="fs-7 py-2">
                    <span class="pe-4">
                        <span class="fw-bold">Funding Agreement Identifier:</span>
                        <span>{{project.identifier}}</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">DOI:</span>
                        <span>{{project.doi}}</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">Acronym:</span>
                        <span>{{project.acronym}}</span>
                    </span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-download fs-4"></i>
                    <div class="fs-7 my-1">Downloads</div>
                    <div class="fs-5 fw-bold">500</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-bookmarks fs-4"></i>
                    <div class="fs-7 my-1">Saved</div>
                    <div class="fs-5 fw-bold">220</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-eye fs-4"></i>
                    <div class="fs-7 my-1">Views</div>
                    <div class="fs-5 fw-bold">2.778</div>
                </div>
            </div>
            <!-- <div class="row border-bottom mt-4"></div> -->
        </div>
        <div class="row pt-4">
            <div class="col-2 px-2">
                <div class="d-flex p-2 bd-highlight">
                    <h5>OVERVIEW</h5>
                </div>
                <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                    <div class="card-body">
                        <div class="d-flex bd-highlight">
                            <span class="text-dark fw-bold">Total Cost:</span>
                        </div>
                        <div class="d-flex bd-highlight">
                                <span class="text-dark bi-currency-euro">{{ project.totalCost }}</span>
                        </div>
                    </div>
                </div>
                    <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <span class="text-dark fw-bold">Start date:</span>
                            </div>
                            <div class="d-flex bd-highlight">
                                    <span class="text-dark">{{ project.dateStart }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <span class="text-dark fw-bold">End date:</span>
                            </div>
                            <div class="d-flex bd-highlight">
                                    <span class="text-dark">{{ project.dateEnd }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <span class="text-dark fw-bold">Duration:</span>
                            </div>
                            <div class="d-flex bd-highlight">
                                    <span class="text-dark">{{ project.duration }}</span>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-5 px-4">
            <div class="d-flex p-2 bd-highlight">
            <h5>PROJECT DESCRIPTION</h5>
            </div>
            <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                <div class="card-body">
                    <div class="d-flex bd-highlight">
                        <a class="text-dark fw-bold link-secondary" href='#' target='_blank'>Objective</a>
                    </div>
                    <div class="d-flex p-2 bd-highlight fs-6">
                        <p>{{project.objective}}</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-auto">
                <div class="card p-0 shadow-bottom-right" style="border-radius:2.0rem;">
                    <div class="card-body p-0">
                        <a href="#" class="btn" tabindex="-1"
                           role="button" aria-disabled="true"><i class="bi-bookmark fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1"
                           role="button" aria-disabled="true"><i class="bi-download  fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1"
                           role="button" aria-disabled="true"><i class="bi-flag fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1"
                           role="button" aria-disabled="true"><i class="bi-share fs-5"></i></a><br>
                    </div>
                </div>
            </div>
            <div class="col-4 ps-5">
                <div class="d-flex p-2 bd-highlight">
                    <h5> PROJECT INFORMATION</h5>
                </div>
                    <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <span class="text-dark fw-bold">Directed by</span>
                            </div>
                            <div class="d-flex bd-highlight">
                                {% for organization in project.coordinatorOrganization %}
                                    <span class="text-dark">{{ organization }}</span>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <span class="text-dark fw-bold">Sponsored by</span>
                            </div>
                            <div class="d-flex bd-highlight">
                                    <span class="text-dark">{{ project.funder }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 p-2 rounded-extra shadow-bottom-right">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <span class="text-dark fw-bold">Keywords</span>
                            </div>
                            <div class="d-flex bd-highlight">
                                    <span class="text-dark">{{ project.keywords }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    $(document).ready(function () {


    });



</script>


{% endblock javascripts %}