{% extends "layouts/base.html" %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### main content ### -->
    <main class=''>
        <div id='mainContent' class="container">

            <div class="bsearch">
                <form name="searchbox" action="/results" method="GET"> <!--- onsubmit="return emptySearch()">--->
                    <div class="">
                        <h2 class="text-center text-dark fs-1 fw-bold mb-4">Welcome to NFDI4DS Gateway</h2>
                        <div class="row mb-4">
                            <div class="col-3"></div>
                            <div class="col-6 text-center">
                                <h4 class="text-secondary">The vision of NFDI4DS is to support all
                                    steps of the
                                    complex and interdisciplinary research data lifecycle. Here you can explore all
                                    NFDI4DS
                                    services.</h4>
                            </div>
                            <div class="col-3"></div>
                        </div>
                        <div class="searchbox mx-auto">
                            <svg aria-hidden="true" viewBox="0 0 24 24">
                                <path
                                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                            </svg>
                            <input aria-label="Search for Articles and Researchers" autocomplete="off"
                                   inputmode="search"
                                   placeholder="Search" type="search" required name="txtSearchTerm"/>
                            <div class="text-secondary" id="emptySearch" style="padding-left: 50px;"></div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <span class="m-1 me-3">Search APIs:</span>
                            <select id="selectApis" multiple="multiple" name="selectedApi" required>
                                {% for source in sources %}
                                    <option value="{{ source }}" selected="selected">{{ source }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--sample search terms-->
                        <div class="d-flex justify-content-center mt-4">
                            <span class="m-2">Search Tips:</span>
                            <a href="/results?txtSearchTerm=Ricardo+Usbeck&select-all=all"
                               class="btn btn-success btn-sm m-2"
                               role="button">Ricardo Usbeck</a>
                            <a href="/results?txtSearchTerm=Semantic+Web&select-all=all"
                               class="btn btn-secondary btn-sm m-2"
                               role="button">Semantic Web</a>
                            <a href="/results?txtSearchTerm=NFDI4DS&select-all=all" class="btn btn-info btn-sm m-2"
                               role="button">NFDI4DS</a>
                        </div>

                    </div>
                </form>
            </div>

            <!--DATA SOURCES-->
            <div class="row mt-5">
                <h2 class="text-center text-dark fs-1 fw-bold mt-5 mb-2">Data Sources</h2>
                <div class="col-md-12">
                    <div class="lc-block">
                        <div id="carouselLogosSources" class="carousel slide pt-5 pb-4" data-bs-ride="carousel">
                            <div class="carousel-inner px-5">
                                <div class="carousel-item active">
                                    <div class="row text-center">
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3"
                                                 src="{{ url_for('static', filename='images/sources/DBLP_Logo_320x120.png') }}"
                                                 alt="DBLP">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3"
                                                 src="{{ url_for('static', filename='images/sources/OpenAlex-logo.png') }}"
                                                 alt="OPENALEX">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3"
                                                 src="{{ url_for('static', filename='images/sources/orcid.logo.svg') }}"
                                                 alt="ORCID">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block h-80 px-3"
                                                 src="{{ url_for('static', filename='images/sources/Wikidata-logo.png') }}"
                                                 alt="WIKIDATA">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3"
                                                 src="{{ url_for('static', filename='images/sources/zenodo-logo.png') }}"
                                                 alt="ZENODO">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3"
                                                 src="{{ url_for('static', filename='images/sources/Datacite-Logo.png') }}"
                                                 alt="DATACITE">
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3"
                                                 src="{{ url_for('static', filename='images/sources/GEPRIS_Logo.png') }}"
                                                 alt="GEPRIS">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block h-60 px-3"
                                                 src="{{ url_for('static', filename='images/sources/GESIS-Logo.svg') }}"
                                                 alt="GESIS">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block h-80 px-3"
                                                 src="{{ url_for('static', filename='images/sources/oersi-logo.svg') }}"
                                                 alt="OERSI">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block h-40 px-2 float-start"
                                                 src="{{ url_for('static', filename='images/sources/resodate-logo.png') }}"
                                                 alt="RESODATE">
                                            <div class="fs-5 float-start">RESODATE</div>
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block h-80 px-3"
                                                 src="{{ url_for('static', filename='images/sources/ieee.gif') }}"
                                                 alt="IEEE">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3"
                                                 src="{{ url_for('static', filename='images/sources/elg-logo.svg') }}"
                                                 alt="European Language Grid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <ol class="carousel-indicators position-relative mt-3">
                                <li data-bs-target="#carouselLogosSources" data-bs-slide-to="0" class="active bg-dark carousel-control-prev-icon"></li>
                                <li data-bs-target="#carouselLogosSources" data-bs-slide-to="1" class="bg-dark"></li>
                            </ol>
                            -->
                            <div class="w-100 px-3 text-center mt-4">
                                <a class="carousel-control-prev position-relative d-inline me-4"
                                   href="#carouselLogosSources" data-bs-slide="prev">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                                        </path>
                                    </svg>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next position-relative d-inline" href="#carouselLogosSources"
                                   data-bs-slide="next">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                        </path>
                                    </svg>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div><!-- /lc-block -->
                </div><!-- /col -->
            </div>

            <!--PARTNERS-->
            <div class="row mt-5">
                <h2 class="text-center text-dark fs-1 fw-bold mt-5 mb-2">Partners</h2>
                <div class="col-md-12">
                    <div class="lc-block">
                        <div id="carouselLogosPartners" class="carousel slide pt-5 pb-4" data-bs-ride="carousel">
                            <div class="carousel-inner px-5">
                                <div class="carousel-item active">
                                    <div class="row text-center">
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3"
                                                 src="{{ url_for('static', filename='images/partners/fokus.png') }}"
                                                 alt="Fraunhofer FOKUS">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3"
                                                 src="{{ url_for('static', filename='images/partners/luh.svg') }}"
                                                 alt="Leibniz University Hannover">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3"
                                                 src="{{ url_for('static', filename='images/partners/lzi.jpg') }}"
                                                 alt="Leibniz Centre for Informatics (LZI)">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3"
                                                 src="{{ url_for('static', filename='images/partners/tib.svg') }}"
                                                 alt="Leibniz Information Centre for Science and Technology (TIB)">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3"
                                                 src="{{ url_for('static', filename='images/partners/Universitaet-Koeln.jpg') }}"
                                                 alt="University of Cologne">
                                        </div>
                                        <div class="col-6 col-lg-2 align-self-center">
                                            <img class="d-block w-100 px-3 mb-3"
                                                 src="{{ url_for('static', filename='images/partners/gesis.svg') }}"
                                                 alt="Leibniz Institute for the Social Sciences (GESIS)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-100 px-3 text-center mt-4">
                                <a class="carousel-control-prev position-relative d-inline me-4"
                                   href="#carouselLogosPartners" data-bs-slide="prev">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                                        </path>
                                    </svg>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next position-relative d-inline"
                                   href="#carouselLogosPartners"
                                   data-bs-slide="next">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-dark"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                        </path>
                                    </svg>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div><!-- /lc-block -->
                </div><!-- /col -->
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!---
        <script>

            function emptySearch() {
                var search = document.forms["searchbox"]["txtSearchTerm"].value;
                if (search == "" || search == null || !/\S/.test(search)) {
                    document.getElementById("emptySearch").innerHTML = "\u2B11" + "Please enter a search term";
                    return false;
                }
            }

        </script>
    --->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#selectApis").multiselect({
                includeSelectAllOption: true,
                selectAllName: 'select-all',
                selectAllValue: 'all',
                selectAllNumber: false,
                templates: {
                    button: '<button type="button" class="multiselect dropdown-toggle btn-sm btn-outline-success" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
                },
            });
        });
    </script>
{% endblock javascripts %}