{% extends "layouts/base.html" %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- ### main content ### -->
<main class=''>
    <div id='mainContent' class="container">

        <div class="bsearch">
            <form name="searchbox" action="/results" method="GET" onsubmit="return emptySearch()">
                <div class="">
                    <h2 class="text-center text-dark fw-bold mb-4">Welcome to NFDI4DS Gateway
                    </h2>
                    <div class="row mb-4" style="padding-left: 10vw; padding-right: 10vw;">
                        <div class="d-flex text-center">
                            <h4 class="text-secondary">The vision of NFDI4DS is to support all steps of the complex and
                                interdisciplinary research data lifecycle. Here you can explore all NFDI4DS services.
                            </h4>
                        </div>
                    </div>
                    <div class="searchbox searchbox_big mx-auto">
                        <svg aria-hidden="true" viewBox="0 0 24 24">
                            <path
                                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                        </svg>
                        <input aria-label="Search for Articles and Researchers" autocomplete="off" inputmode="search"
                            placeholder="Search" type="search" name="txtSearchTerm" />
                        <div class="text-secondary" id="emptySearch" style="padding-left: 50px;"></div>
                    </div>
                    <!--sample search terms-->
                    <div class="d-flex justify-content-center mt-4">
                        <span class="m-2">Search Tips:</span>
                        <a href="/results?txtSearchTerm=York Sure-Vetter" class="btn btn-success btn-sm m-2"
                            role="button">York Sure-Vetter</a>
                        <a href="/results?txtSearchTerm=Semantic+Web" class="btn btn-secondary btn-sm m-2"
                            role="button">Semantic Web</a>
                        <a href="/results?txtSearchTerm=NFDI4DS" class="btn btn-info btn-sm m-2"
                            role="button">NFDI4DS</a>
                    </div>
                </div>
            </form>
        </div>

        <!--DATA SOURCES-->
        <div class="row mt-5">
            <h2 class="text-center text-dark fw-bold mt-5 mb-2">Data Sources</h2>
            <div class="row mb-4 pt-2" style="padding-left: 10vw; padding-right: 10vw;">
                <h4 class="text-secondary" style="text-align: center;">We source our data from the following platforms:
                </h4>
            </div>
            <div class="col-md-12">
                <div id="dataSourcesCarousel" class="carousel">
                    <div class="carousel-inner">
                        {% for source in sources %}
                        <div class="carousel-item {% if loop.first %}active{% endif %} d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <img class="d-block {{source.width}} {{source.height}} mx-auto"
                                    src="{{ url_for('static', filename='images/sources/'+source.src) }}" alt="">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev sourcesCarouselPrev" type="button"
                        data-bs-target="#dataSourcesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next sourcesCarouselNext" type="button"
                        data-bs-target="#dataSourcesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <!--PARTNERS-->
        <div class="row mt-5">
            <h2 class="text-center text-dark fw-bold mt-5 mb-2">Partners</h2>
            <div class="row mb-4 pt-2" style="padding-left: 10vw; padding-right: 10vw;">
                <h4 class="text-secondary" style="text-align: center;">The NFDI4DS gateway is developed by:</h4>
            </div>
            <div class="col-md-12">
                <div id="partnersCarousel" class="carousel">
                    <div class="carousel-inner partnersCarouselInner">
                        <div class="carousel-item active d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <a href="https://www.leuphana.de/en/" target="_blank"
                                    title="Leuphana Universität Lüneburg">
                                    <img class="d-block w-100 mb-3"
                                        src="{{ url_for('static', filename='images/partners/uni-leuphana.png') }}"
                                        alt="Leuphana Universität Lüneburg">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <a href="https://www.fokus.fraunhofer.de/en.html" target="_blank"
                                    title="Fraunhofer FOKUS">
                                    <img class="d-block w-100 mb-3"
                                        src="{{ url_for('static', filename='images/partners/fokus.png') }}"
                                        alt="Fraunhofer FOKUS">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <a href="https://www.uni-hannover.de/en/" target="_blank"
                                    title="Leibniz University Hannover">
                                    <img class="d-block w-100 mb-3"
                                        src="{{ url_for('static', filename='images/partners/luh.svg') }}"
                                        alt="Leibniz University Hannover">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <a href="https://www.dagstuhl.de/en/" target="_blank"
                                    title="Leibniz Centre for Informatics (LZI)">
                                    <img class="d-block w-100 mb-3"
                                        src="{{ url_for('static', filename='images/partners/LZI.jpg') }}"
                                        alt="Leibniz Centre for Informatics (LZI)">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <a href="https://www.tib.eu/en/" target="_blank"
                                    title="Leibniz Information Centre for Science and Technology (TIB)">
                                    <img class="d-block w-100 mb-3"
                                        src="{{ url_for('static', filename='images/partners/tib.svg') }}"
                                        alt="Leibniz Information Centre for Science and Technology (TIB)">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <a href="https://www.uni-koeln.de/en/" target="_blank" title="University of Cologne">
                                    <img class="d-block w-100 mb-3"
                                        src="{{ url_for('static', filename='images/partners/Universitaet-Koeln.jpg') }}"
                                        alt="University of Cologne">
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item d-flex justify-content-around">
                            <div class="col-md-4 align-self-center">
                                <a href="https://www.gesis.org/en/" target="_blank"
                                    title="Leibniz Institute for the Social Sciences (GESIS)">
                                    <img class="d-block w-100 mb-3"
                                        src="{{ url_for('static', filename='images/partners/gesis.svg') }}"
                                        alt="Leibniz Institute for the Social Sciences (GESIS)">
                                </a>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#partnersCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#partnersCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    function emptySearch() {
        var search = document.forms["searchbox"]["txtSearchTerm"].value;
        if (search == "" || search == null || !/\S/.test(search)) {
            document.getElementById("emptySearch").innerHTML = "\u2B11" + "Please enter a search term";
            return false;
        }
    }

    $(document).ready(function () {

        const dataSourcesCarousel = document.querySelector("#dataSourcesCarousel");
        const partnersCarousel = document.querySelector("#partnersCarousel");

        var manageCarousel = function (ctlCarousel) {
            var $carouselInner = $(ctlCarousel).find(".carousel-inner");
            var $nextButton = $(ctlCarousel).find(".carousel-control-next");
            var $prevButton = $(ctlCarousel).find(".carousel-control-prev");
            var carouselWidth = $carouselInner[0].scrollWidth;
            var cardWidth = $(ctlCarousel).find(".carousel-item").width();

            var scrollPosition = 0;

            var updateButtonStates = function () {
                if (scrollPosition <= 0) {
                    $prevButton.prop("disabled", true);
                } else {
                    $prevButton.prop("disabled", false);
                }

                if (scrollPosition >= carouselWidth - cardWidth * 3) {
                    $nextButton.prop("disabled", true);
                } else {
                    $nextButton.prop("disabled", false);
                }
            };

            // Initialize button states on load
            updateButtonStates();

            $nextButton.on("click", function () {
                if (scrollPosition < carouselWidth - cardWidth * 3) {
                    scrollPosition += cardWidth;
                    $carouselInner.animate({scrollLeft: scrollPosition}, 800, updateButtonStates);
                }
            });

            $prevButton.on("click", function () {
                if (scrollPosition > 0) {
                    scrollPosition -= cardWidth;
                    $carouselInner.animate({scrollLeft: scrollPosition}, 800, updateButtonStates);
                }
            });


        }

        if (window.matchMedia("(min-width:576px)").matches) {
            manageCarousel(dataSourcesCarousel);
            manageCarousel(partnersCarousel);
        }
        else {
            $(dataSourcesCarousel).addClass("slide");
            $(partnersCarousel).addClass("slide");
        }

    });

</script>

{% endblock javascripts %}