{% extends "layouts/base.html" %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <p>
            Here is the list of all the data sources that are currently being scanned or "harvested" to
            provide aggregate search
            results corresponding to your entered search term. However, should you prefer to exclude any
            of these sources from being
            harvested, then make your preferred adjustments. You can easily prevent a source from being
            harvested simply by
            deselecting the accompanying checkbox next to it. This flexibility ensures that you are in
            control of your search
            parameters, allowing for more tailored and focused results.
        </p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Data Sources</legend>
                {% if form.data_sources.errors %}
                <div class="invalid-feedback">
                    {% for error in form.data_sources.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% for data_source in form.data_sources %}
                <div class="form-check">
                    {{ data_source(class="form-check-input") }}
                    {{ data_source.label(class="form-check-label") }}
                </div>
                {% endfor %}
            </fieldset>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</section>

{% endblock %}