{% extends "layouts/base.html" %}

{% block title %} Publication Details {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<!-- ### main content ### -->
<main class=''>
    <div id='mainContent' class="container">

        <div class="row pb-4">
            <div class="col text-start">
                <!-- <a href="#"><i class="bi bi-arrow-left-circle-fill me-2"></i>Back to results</a> -->
            </div>
        </div>
        <div class="row border-bottom pb-4">
            <div class="col-9 text-start">
                <h3>{{publication.name}}</h3>
                <div class="py-2">
                    {% for keyword in publication.keywords %}
                    <span class="badge bg-pill bg-secondary">{{keyword}}</span>
                    {% endfor %}
                </div>
                <div class="fs-7 py-2">
                    <!-- <span class="pe-4">
                        <span class="fw-bold">Version:</span>
                        <span>-</span>
                    </span> -->
                    <span class="pe-4">
                        <span class="fw-bold">DOI:</span>
                        <span id="publication_doi">{{publication.identifier}}</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">Publication Date:</span>
                        <span>{{publication.datePublished}}</span>
                    </span>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <!-- <div class="summary-block p-2 ms-3">
                    <i class="bi bi-download fs-4"></i>
                    <div class="fs-7 my-1">Downloads</div>
                    <div class="fs-5 fw-bold">---</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-bookmarks fs-4"></i>
                    <div class="fs-7 my-1">Saved</div>
                    <div class="fs-5 fw-bold">---</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-chat-quote fs-4"></i>
                    <div class="fs-7 my-1">Cited</div>
                    <div class="fs-5 fw-bold">---</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-eye fs-4"></i>
                    <div class="fs-7 my-1">Views</div>
                    <div class="fs-5 fw-bold">---</div>
                </div> -->
            </div>
            <!-- <div class="row border-bottom mt-4"></div> -->
        </div>

        <div class="row pt-4">

            <div class="col-2 p-2">
                <div class="card me-4 shadow-bottom-right rounded-extra solid-border align-items-center">
                    <div class="card-body">
                        <a href="#abstract" class="btn">Abstract</a>
                        <a href="#supplemental-material" class="btn text-start">Supplemental Material</a>
                        <a href="#references" class="btn">References</a>
                        <a href="#cited-by" class="btn">Cited by</a>
                    </div>
                </div>
                <div class="d-flex p-2 pt-4 bd-highlight">
                    <span class="fw-bold fs-6">AUTHORS ({{publication.author|length}})</span>
                </div>
                <div class="authors-block authors">
                    {% set author_count = namespace(value=0) %}
                    {% for author in publication.author %}
                        <div class="d-flex p-2 bd-highlight">
                            {% set link = author | get_researcher_url %}
                            <a class="{% if author_count.value > 4 %}d-none{% endif %} btn {{ 'btn-outline-dark text-dark' if link else 'btn-outline-secondary text-secondary' }} rounded-pill border-1 p-1 pe-2 mb-1 fs-7"
                            {% if link %}href="{{ link }}"{% else %}tabindex="-1" role="button" aria-disabled="true" style="cursor: default;" title="Author could not be linked"{% endif %}>
                                <i class="ps-1 pe-1 bi-person-circle"></i>{{ author.name }}
                            </a>
                            {% set author_count.value = author_count.value + 1 %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-6 px-4">
                <div class="d-flex p-2 bd-highlight" id="abstract">
                    <span class="fw-bold fs-6">ABSTRACT</span>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    {{publication.abstract}}
                </div>

                <div class="d-flex p-2 bd-highlight pt-4" id="supplemental-material">
                    <span class="fw-bold fs-6">SUPPLEMENTAL MATERIAL</span>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <div class="fw-lighter fst-italic">
                        <i class="bi bi-hourglass-split"></i>
                        Coming soon ....
                        <i class="bi bi-hourglass-split"></i>
                    </div>
                </div>
                <!-- <div class="card shadow-bottom-right rounded-extra solid-border mb-3">
                    <div class="card-body">
                        <span class="bi-file-earmark-excel-fill pe-2 fs-5"></span>dataset referenced in the paper
                        <div style="float:right;">
                            <span class="badge bg-pill">948 KB</span>
                            <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                    class="bi-download fs-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card shadow-bottom-right rounded-extra solid-border">
                    <div class="card-body">
                        <span class="bi-filetype-pdf pe-2 fs-5"></span>AI models referenced in the paper
                        <div style="float:right;">
                            <span class="badge bg-pill">459 KB</span>
                            <a href="#" class="btn icon-button" tabindex="-1" role="button" aria-disabled="true"><i
                                    class="bi-download fs-5"></i></a>
                        </div>
                    </div>
                </div> -->
                <div class="d-flex p-2 bd-highlight pt-4" id="references">
                    <span class="fw-bold fs-6">REFERENCES ({{publication.referenceCount}}) <i
                            class="bi bi-info-circle-fill text-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Retrieved from CrossRef"></i></span>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4" id="references_block">
                    <button type="button" class="btn btn-outline-secondary" id="btn-load-references">Load</button>
                </div>
                <div class="d-flex p-2 bd-highlight pt-4" id="cited-by">
                    <span class="fw-bold fs-6">CITATIONS ({{publication.citationCount}}) <i
                            class="bi bi-info-circle-fill text-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Retrieved from Semantic Scholar"></i></span>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4" id="citations_block">
                    <button type="button" class="btn btn-outline-secondary" id="btn-load-citations">Load</button>
                </div>
            </div>
            <div class="col-auto">
                <!-- <div class="card p-0 shadow-bottom-right" style="border-radius:2.0rem;">
                    <div class="card-body p-0">
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-bookmark fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-download  fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-flag fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-share fs-5"></i></a><br>
                    </div>
                </div> -->
            </div>

            <div class="col-3 ps-5">
                <div class="d-flex p-2 bd-highlight">
                    <span class="fw-bold fs-6">EXTERNAL LINKS</span>
                </div>
                <div class="d-flex flex-column p-2 fs-6 border-bottom pb-4">
                    {% for source in publication.source %}
                    <a id="source_link" href="{{source.url}}" target=_blank class="mb-2">
                        <span class="badge bg-pill text-wrap text-break">{{source.name}}&nbsp;<i
                                class="pull-right bi bi-box-arrow-up-right"></i></span>
                    </a>
                    {% endfor %}
                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <span class="fw-bold fs-6">PlumX Metrics <i class="bi bi-info-circle-fill text-secondary"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="PlumX Metrics show research impact through citations, shares, and media mentions"></i></span>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <div class="fw-lighter fst-italic" id="plumx-metrics">
                        <a href='https://plu.mx/plum/a/?doi={{publication.identifier}}' target='_blank'
                            class='plumx-summary' data-orientation='vertical'>{{publication.name}}&nbsp;<i
                                class='pull-right bi bi-box-arrow-up-right'></i></a>
                    </div>
                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <span class="fw-bold fs-6">RECOMMENDATIONS <i class="bi bi-info-circle-fill text-secondary"
                            data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Retrieved from Semantic Scholar"></i></span>
                </div>
                <div class="d-flex flex-column p-2 fs-6 border-bottom pb-4" id="recommendations_block">
                    <button type="button" class="btn btn-outline-secondary" id="btn-load-recommendations">Load</button>
                </div>

                <div class=" d-flex p-2 bd-highlight pt-4">
                    <span class="fw-bold fs-6">FAIR ASSESSMENT</span>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <div class="fw-lighter fst-italic">
                        <i class="bi bi-hourglass-split"></i>
                        Coming soon ....
                        <i class="bi bi-hourglass-split"></i>
                    </div>
                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <span class="fw-bold fs-6">JUPYTER LAB</span>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <div class="fw-lighter fst-italic">
                        <i class="bi bi-hourglass-split"></i>
                        Coming soon ....
                        <i class="bi bi-hourglass-split"></i>
                    </div>
                </div>

            </div>
        </div>





    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function () {

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        load_references = function () {
            let doi = document.getElementById('publication_doi').innerHTML
            $.ajax({
                url: '/publication-details-references/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#references_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    // $('.loader').remove();
                },
                success: function (data) {
                    $('#references_block').html(data);
                    // console.log(data)
                    console.log('references have been loaded.')
                    $('.loader').remove();
                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });
        }

        load_recommendations = function () {
            let doi = document.getElementById('publication_doi').innerHTML
            $.ajax({
                url: '/publication-details-recommendations/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#recommendations_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    $('.loader').remove();
                },
                success: function (data) {
                    console.log(data)
                    $('#recommendations_block').html(data);
                    console.log('recommendations have been loaded.')

                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });
        }

        load_citations = function () {
            let doi = document.getElementById('publication_doi').innerHTML
            $.ajax({
                url: '/publication-details-citations/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#citations_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    $('.loader').remove();
                },
                success: function (data) {
                    console.log(data)
                    $('#citations_block').html(data);
                    console.log('citations have been loaded.')
                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });
        }

        $('#btn-load-references').click(function () {
            load_references();
        });

        $('#btn-load-recommendations').click(function () {
            load_recommendations();
        });

        $('#btn-load-citations').click(function () {
            load_citations();
        });

    });
</script>



{% endblock javascripts %}