{% extends "layouts/base.html" %}

{% block title %} Publication Details {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<!-- ### main content ### -->
<main class=''>
    <div id='mainContent' class="container">

        <div class="row pb-4">
            <div class="col text-start">
                <a href="#"><i class="bi bi-arrow-left-circle-fill me-2"></i>Back to results</a>
            </div>
        </div>
        <div class="row border-bottom pb-4">
            <div class="col-7 text-start">
                <h3>Coronavirus Immunotherpeutic Consortium Database</h3>
                <div class="py-2">
                    <span class="badge text-bg-info">Covid</span>
                    <span class="badge text-bg-info">SARS-Cov-2</span>
                    <span class="badge text-bg-info">Covid 19</span>
                    <span class="badge text-bg-info">Immunotherpy</span>
                    <span class="badge text-bg-info">Consortium Database</span>
                </div>
                <div class="fs-7 py-2">
                    <span class="pe-4">
                        <span class="fw-bold">Version:</span>
                        <span>1.5</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">DOI:</span>
                        <span>10.1093</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">Publication Date:</span>
                        <span>20.07.2023</span>
                    </span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <div class="summary-block border border-secondary border-2 rounded-4 text-center p-2 ms-3">
                    <i class="bi bi-download fs-4"></i>
                    <div class="fs-7 my-1">Downloads</div>
                    <div class="fs-5 fw-bold">927</div>
                </div>
                <div class="summary-block border border-secondary border-2 rounded-4 text-center p-2 ms-3">
                    <i class="bi bi-bookmarks fs-4"></i>
                    <div class="fs-7 my-1">Saved</div>
                    <div class="fs-5 fw-bold">42</div>
                </div>
                <div class="summary-block border border-secondary border-3 rounded-4 text-center p-2 ms-3">
                    <i class="bi bi-chat-quote fs-4"></i>
                    <div class="fs-7 my-1">Cited</div>
                    <div class="fs-5 fw-bold">3</div>
                </div>
                <div class="summary-block border border-secondary border-3 rounded-4 text-center p-2 ms-3">
                    <i class="bi bi-eye fs-4"></i>
                    <div class="fs-7 my-1">Views</div>
                    <div class="fs-5 fw-bold">2.778</div>
                </div>
            </div>
            <!-- <div class="row border-bottom mt-4"></div> -->
        </div>

        <div class="row pt-4">

            <div class="col-2 px-2">
                <div class="d-flex p-2 bd-highlight">
                    <h5>AUTHORS (29)</h5>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 1</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 2</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 3</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 4</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 5</a>
                </div>
            </div>
            <div class="col-6 px-4">
                <div class="d-flex p-2 bd-highlight">
                    <h5>ABSTRACT</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    Coronavirus disease 2019 (COVID-19) pandemic caused by the severe acute respiratory syndrome
                    coronavirus 2 (SARS-CoV-2)
                    has seen multiple anti-SARSCoV-2 antibodies being generated globally. It is difficult, however,
                    to
                    assemble a useful
                    compendium of these biological properties if they are derived from experimental measurements
                    performed at different
                    sites under different experimental conditions.
                    The Coronavirus Immunotherapeutic Consortium (COVIC) circumvents these issues by experimentally
                    testing blinded
                    antibodies side by side for several functional activities. To collect these data in a consistent
                    fashion and make it
                    publicly available, we established the COVIC database (COVIC-DB, https://covicdb.lji.org/).
                    This database enables systematic analysis and interpretation of this large-scale dataset by
                    providing a comprehensive
                    view of various features such as affinity, neutralization, in vivo protection and effector
                    functions
                    for each antibody.
                    Interactive graphs enable direct comparisons of antibodies based on select functional
                    properties. We
                    demonstrate how the
                    COVIC-DB can be utilized to examine relationships among antibody features, thereby guiding the
                    design of therapeutic
                    antibody cocktails.
                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>SUPPLEMENTAL MATERIAL</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>
                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>REFERENCES</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>CITED BY</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>
            </div>
            <div class="col-4 ps-5">
                <div class="d-flex p-2 bd-highlight">
                    <h5>RECOMMENDATIONS</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>FAIR Assessment</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>Jupyter Lab</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

            </div>
        </div>





    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    $(document).ready(function () {


    });



</script>


{% endblock javascripts %}