{% extends "layouts/base.html" %}

{% block title %} Publication Details {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<!-- ### main content ### -->
<main class=''>
    <div id='mainContent' class="container">

        <div class="row pb-4">
            <div class="col text-start">
                <a href="#"><i class="bi bi-arrow-left-circle-fill me-2"></i>Back to results</a>
            </div>
        </div>
        <div class="row border-bottom pb-4">
            <div class="col-7 text-start">
                <h3>{{publication.name}}</h3>
                <div class="py-2">
                    {% for keyword in publication.keywords %}
                    <span class="badge bg-pill">{{keyword}}</span>
                    {% endfor %}
                </div>
                <div class="fs-7 py-2">
                    <span class="pe-4">
                        <span class="fw-bold">Version:</span>
                        <span>-</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">DOI:</span>
                        <span id="publication_doi">{{publication.identifier}}</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">Publication Date:</span>
                        <span>{{publication.datePublished}}</span>
                    </span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-download fs-4"></i>
                    <div class="fs-7 my-1">Downloads</div>
                    <div class="fs-5 fw-bold">927</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-bookmarks fs-4"></i>
                    <div class="fs-7 my-1">Saved</div>
                    <div class="fs-5 fw-bold">42</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-chat-quote fs-4"></i>
                    <div class="fs-7 my-1">Cited</div>
                    <div class="fs-5 fw-bold">3</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-eye fs-4"></i>
                    <div class="fs-7 my-1">Views</div>
                    <div class="fs-5 fw-bold">2.778</div>
                </div>
            </div>
            <!-- <div class="row border-bottom mt-4"></div> -->
        </div>

        <div class="row pt-4">

            <div class="col-2 p-2">
                <div class="card me-4 shadow-bottom-right rounded-extra solid-border align-items-center">
                    <div class="card-body">
                        <a href="#abstract" class="btn">Abstract</a>
                        <a href="#supplemental-material" class="btn text-start">Supplemental Material</a>
                        <a href="#references" class="btn">References</a>
                        <a href="#cited-by" class="btn">Cited by</a>
                    </div>
                </div>
                <div class="d-flex p-2 pt-4 bd-highlight">
                    <h5>AUTHORS ({{publication.author|length}})</h5>
                </div>
                <div class="authors-block authors">
                    {% for author in publication.author %}
                    <div class="d-flex p-2 bd-highlight">
                        <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1" tabindex="-1"
                            role="button" aria-disabled="true"><i
                                class="ps-1 pe-1 bi-person-circle"></i>{{author.name|truncate(10)}}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6 px-4">
                <div class="d-flex p-2 bd-highlight" id="abstract">
                    <h5>ABSTRACT</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    {{publication.abstract}}
                </div>

                <div class="d-flex p-2 bd-highlight pt-4" id="supplemental-material">
                    <h5>SUPPLEMENTAL MATERIAL</h5>
                </div>
                <div class="card shadow-bottom-right rounded-extra solid-border mb-3">
                    <div class="card-body">
                        <span class="bi-file-earmark-excel-fill pe-2 fs-5"></span>dataset referenced in the paper
                        <div style="float:right;">
                            <span class="badge bg-pill">948 KB</span>
                            <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                    class="bi-download fs-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card shadow-bottom-right rounded-extra solid-border">
                    <div class="card-body">
                        <span class="bi-filetype-pdf pe-2 fs-5"></span>AI models referenced in the paper
                        <div style="float:right;">
                            <span class="badge bg-pill">459 KB</span>
                            <a href="#" class="btn icon-button" tabindex="-1" role="button" aria-disabled="true"><i
                                    class="bi-download fs-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>
                <div class="d-flex p-2 bd-highlight pt-4" id="references">
                    <h5>REFERENCES</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4" id="references_block">

                </div>

                <div class="p-2 bd-highlight pt-4" id="cited-by">
                    <h5>CITED BY</h5>
                    <p>Dawood S and AlKadi K. Acceptability and Effectiveness of COVID-19 Contact
                        Tracing Applications: A Case Study in Saudi Arabia of the Tawakkalna Application.
                        Cureus. 10.7759/cureus.35041.<br>
                        <a href="https://www.cureus.com/articles/130117-acceptability-and-effectiveness-of-covid-19-contacttracing-applications-a-case-study-in-saudi-arabia-of-the-tawakkalna-application"
                            class="link" target="_blank">
                            https://www.cureus.com/articles/130117-acceptability-and-effectiveness-of-covid-19-contacttracing-applications-a-case-study-in-saudi-arabia-of-the-tawakkalna-application
                        </a>
                    </p>
                    <p>Park D, Kang J, Song H, Yoon S and Lee J. (2022). Multi-view POI level Cellular
                        Trajectory Reconstruction for Digital Contact Tracing of Infectious Diseases 2022
                        IEEE International Conference on Data Mining (ICDM). 10.1109/
                        ICDM54844.2022.00144. 978-1-6654 5099-7. (1137-1142).
                        <a href="https://ieeexplore.ieee.org/document/10027641/" class="link" target="_blank">
                            https://ieeexplore.ieee.org/document/10027641/
                        </a>
                    <p>Sun R, Wang W, Xue M, Tyson G, Camtepe S and Ranasinghe D. An Empirical
                        Assessment of Global COVID-19 Contact Tracing Applications. Proceedings of the
                        43rd International Conference on Software Engineering. (1085-1097).
                        <a href="https://doi.org/10.1109/ICSE43902.2021.00101" class="link" target="_blank">
                            https://doi.org/10.1109/ICSE43902.2021.00101
                        </a>
                    </p>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>
            </div>
            <div class="col-auto">
                <div class="card p-0 shadow-bottom-right" style="border-radius:2.0rem;">
                    <div class="card-body p-0">
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-bookmark fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-download  fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-flag fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-share fs-5"></i></a><br>
                    </div>
                </div>
            </div>
            <div class="col-3 ps-5">
                <div class="d-flex p-2 bd-highlight">
                    <h5>RECOMMENDATIONS</h5>
                </div>
                <div class="d-flex flex-column p-2 fs-6 border-bottom pb-4" id="recommendations_block">

                </div>

                <div class=" d-flex p-2 bd-highlight pt-4">
                    <h5>FAIR Assessment</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>Jupyter Lab</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

            </div>
        </div>





    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    $(document).ready(function () {

        load_references = function () {

            let doi = document.getElementById('publication_doi').innerHTML

            $.ajax({
                url: '/publication-details-references/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#references_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    // $('.loader').remove();
                },
                success: function (data) {
                    console.log(data)
                    $('.loader').remove();
                    $('#references_block').html(data);
                    console.log('references have been loaded.')

                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });

        }

        load_recommendations = function () {

            let doi = document.getElementById('publication_doi').innerHTML

            $.ajax({
                url: '/publication-details-recommendations/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#recommendations_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    $('.loader').remove();
                },
                success: function (data) {
                    console.log(data)
                    $('#recommendations_block').html(data);
                    console.log('recommendations have been loaded.')

                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });

        }

        load_references();
        load_recommendations();


    });



</script>


{% endblock javascripts %}