{% extends "layouts/base.html" %}

{% block title %} resource Details {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<!-- ### main content ### -->
<main class=''>
    <div id='mainContent' class="container">

        <div class="row pb-4">
            <div class="col text-start">
                <!-- <a href="#"><i class="bi bi-arrow-left-circle-fill me-2"></i>Back to results</a> -->
            </div>
        </div>
        <div class="row border-bottom pb-4">
            <div class="col-7 text-start">
                <h3>{{resource.name}}</h3>
                <div class="py-2">
                    <div class="py-2">
                        {% for keyword in resource.keywords %}
                        <span class="badge bg-pill">{{keyword}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="fs-7 py-2">
                    <span class="pe-4">
                        <span class="fw-bold">Version:</span>
                        <span>ZA6719</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">DOI:</span>
                        <span id="resource_doi">{{resource.identifier}}</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">Publication Date:</span>
                        <span>{{resource.datePublished}}</span>
                    </span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-download fs-4"></i>
                    <div class="fs-7 my-1">Downloads</div>
                    <div class="fs-5 fw-bold">--</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-bookmarks fs-4"></i>
                    <div class="fs-7 my-1">Saved</div>
                    <div class="fs-5 fw-bold">--</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-chat-quote fs-4"></i>
                    <div class="fs-7 my-1">Cited</div>
                    <div class="fs-5 fw-bold">--</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-eye fs-4"></i>
                    <div class="fs-7 my-1">Views</div>
                    <div class="fs-5 fw-bold">--</div>
                </div>
            </div>
            <!-- <div class="row border-bottom mt-4"></div> -->
        </div>

        <div class="row pt-4">

            <div class="col-2 p-2">
                <div class="card me-4 shadow-bottom-right rounded-extra solid-border align-items-center">
                    <div class="card-body">
                        <a href="#abstract" class="btn">Abstract</a>
                        <a href="#supplemental-material" class="btn text-start">Supplemental Material</a>
                        <a href="#references" class="btn">References</a>
                        <a href="#cited-by" class="btn">Cited by</a>
                    </div>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <h5>AUTHORS ({{ resource.author|length }})</h5>
                </div>
                <div class="authors-block authors">
                    {% if resource.author|length > 0 %}
                        {% for author in resource.author %}
                        <div class="d-flex p-2 bd-highlight">
                            <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1" tabindex="-1"
                                role="button" aria-disabled="true">
                                <i class="ps-1 pe-1 bi-person-circle"></i>{{ author.name|truncate(10) }}
                            </a>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="d-flex p-2 bd-highlight">
                            <p>No authors available.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-6 px-4">
                <div class="d-flex p-2 bd-highlight" id="abstract">
                    <h5>ABSTRACT <i class="bi bi-info-circle-fill text-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Retrieved from Zenodo"></i></h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                  {{ resource.description}}
                </div>

                <div class="d-flex p-2 bd-highlight pt-4" id="supplemental-material">
                    <h5>SUPPLEMENTAL MATERIAL <i class="bi bi-info-circle-fill text-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Retrieved from Zenodo"></i></h5>

                </div>

                {% for file_name, file_url in resource.encoding_contentUrl.items() %}
                    <div>
                        <a href="{{ file_url }}">{{ file_name }}</a> <br>
                    </div>
                {% endfor %}
                <!-- <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <div class="fw-lighter fst-italic">
                        <i class="bi bi-hourglass-split"></i>
                        Coming soon ....
                        <i class="bi bi-hourglass-split"></i>
                    </div>
                </div> -->
                <div class="d-flex p-2 bd-highlight pt-4" id="references">
                    <h5>REFERENCES <i class="bi bi-info-circle-fill text-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Retrieved from CrossRef"></i></h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4" id="references_block">
                    <button type="button" class="btn btn-outline-secondary" id="btn-load-references">Load</button>
                </div>
                <div class="d-flex p-2 bd-highlight pt-4" id="cited-by">
                    <h5>CITATIONS <i class="bi bi-info-circle-fill text-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Retrieved from Semantic Scholar"></i></h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4" id="citations_block">
                    <button type="button" class="btn btn-outline-secondary" id="btn-load-citations">Load</button>
                </div>
            </div>
                <!-- <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item border-0">
                            <span>Presse- und Informationsamt der Bundesregierung (2019).
                                Women and Politics. GESIS Data Archive, Cologne. ZA6719
                                Data file Version 1.0.0, https://doi.org/10.4232/1.13220.</span>
                        </li>
                        <li class="list-group-item border-0">
                            Saphire E.O., Schendel S.L., Fusco M.L. et al. (2018) Systematic analysis of monoclonal
                            antibodies against ebola virus
                            GP defines features that contribute to protection. Cell, 174, 938–952.
                        </li>
                        <li class="list-group-item border-0">
                            Wilkinson M., Dumontier M. and Aalbersberg I. (2016) The FAIR guiding principles for
                            scientific data management and
                            stewardship. Sci. Data, 3, 1–9.
                        </li>
                        <li class="list-group-item border-0">
                            Wang J., Youkharibache P., Marchler-Bauer A. et al. (2022) iCn3D: from webbased 3D viewer to
                            structural analysis tool in
                            batch mode. Front. Mol. Biosci., 9, 1–10.
                        </li>
                    </ol>
                </div> -->

                <!-- <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>CITED BY</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div> -->
            <!-- </div> -->
            <div class="col-auto">
                <!-- <div class="card p-0 shadow-bottom-right" style="border-radius:2.0rem;">
                    <div class="card-body p-0">
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-bookmark fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-download  fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-flag fs-5"></i></a><br>
                        <a href="#" class="btn" tabindex="-1" role="button" aria-disabled="true"><i
                                class="bi-share fs-5"></i></a><br>
                    </div>
                </div> -->
            </div>
            <div class="col-3 ps-5">
                <div class="d-flex p-2 bd-highlight">
                    <h5>RECOMMENDATIONS <i class="bi bi-info-circle-fill text-secondary" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Retrieved from Semantic Scholar"></i></h5>
                </div>
                <div class="d-flex flex-column p-2 fs-6 border-bottom pb-4" id="recommendations_block">
                    <button type="button" class="btn btn-outline-secondary" id="btn-load-recommendations">Load</button>
                </div>
                <!-- <div class="d-flex flex-column p-2 fs-6 border-bottom pb-4">
                    <div class="card mb-2 p-2 rounded-extra">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <a class="text-dark fw-bold" href='#' target='_blank'>
                                    Polarisation of Politics and Society</a>
                            </div>
                            <div class="d-flex justify-content-between fs-7 pt-3">
                                <span class="badge bg-pill">04.02.2019</span>
                                <span class="">
                                    <a class="text-decoration-none fw-bold" href='#' target='_blank'>
                                        READ MORE ></a>
                                </span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="card mb-2 p-2 rounded-extra">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <a class="text-dark fw-bold" href='#' target='_blank'>
                                    Investing in Education in Europe: Attitudes, Politics and Policies (INVEDUC)</a>
                            </div>
                            <div class="d-flex justify-content-between fs-7 pt-3">
                                <span class="badge bg-pill">15.07.2020</span>
                                <span class="">
                                    <a class="text-decoration-none fw-bold" href='#' target='_blank'>
                                        READ MORE ></a>
                                </span>
                            </div>
                        </div>
                    </div> -->
                <div class=" d-flex p-2 bd-highlight pt-4">
                    <h5>FAIR Assessment</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <div class="fw-lighter fst-italic">
                        <i class="bi bi-hourglass-split"></i>
                        Coming soon ....
                        <i class="bi bi-hourglass-split"></i>
                    </div>
                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>Jupyter Lab</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <div class="fw-lighter fst-italic">
                        <i class="bi bi-hourglass-split"></i>
                        Coming soon ....
                        <i class="bi bi-hourglass-split"></i>
                    </div>
                </div>

            </div>
        </div>





    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    $(document).ready(function () {

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

    });

    load_references = function () {
            let doi = document.getElementById('resource_doi').innerHTML
            $.ajax({
                url: '/resource-details-references/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#references_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    // $('.loader').remove();
                },
                success: function (data) {
                    console.log(data)
                    $('.loader').remove();
                    $('#references_block').html(data);
                    console.log('references have been loaded.')
                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });
        }

        load_recommendations = function () {
            let doi = document.getElementById('resource_doi').innerHTML
            $.ajax({
                url: '/resource-details-recommendations/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#recommendations_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    $('.loader').remove();
                },
                success: function (data) {
                    console.log(data)
                    $('#recommendations_block').html(data);
                    console.log('recommendations have been loaded.')

                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });
        }

        load_citations = function () {
            let doi = document.getElementById('resource_doi').innerHTML
            $.ajax({
                url: '/resource-details-citations/' + doi,
                type: "GET",
                data: {
                },
                beforeSend: function () {
                    $('#citations_block').html("<div class='loader'><div class='sp-3balls'></div></div>");
                },
                complete: function () {
                    $('.loader').remove();
                },
                success: function (data) {
                    console.log(data)
                    $('#citations_block').html(data);
                    console.log('citations have been loaded.')
                },
                error: function (err) {
                    console.log(err);
                    return err
                }
            });
        }

        $('#btn-load-references').click(function () {
            load_references();
        });

        $('#btn-load-recommendations').click(function () {
            load_recommendations();
        });

        $('#btn-load-citations').click(function () {
            load_citations();
        });

</script>


{% endblock javascripts %}