{% extends "layouts/base.html" %}

{% block title %} Pesources Details {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<!-- ### main content ### -->
<main class=''>
    <div id='mainContent' class="container">

        <div class="row pb-4">
            <div class="col text-start">
                <a href="#"><i class="bi bi-arrow-left-circle-fill me-2"></i>Back to results</a>
            </div>
        </div>
        <div class="row border-bottom pb-4">
            <div class="col-7 text-start">
                <h3>Women and Politics</h3>
                <div class="py-2">
                    <span class="badge bg-pill">Politics</span>
                    <span class="badge bg-pill">Social engagement</span>
                    <span class="badge bg-pill">Politicians</span>
                    <span class="badge bg-pill">Demography</span>
                    <span class="badge bg-pill">Social Dataset</span>
                </div>
                <div class="fs-7 py-2">
                    <span class="pe-4">
                        <span class="fw-bold">Study number:</span>
                        <span>ZA6719</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">DOI:</span>
                        <span>10.4232</span>
                    </span>
                    <span class="pe-4">
                        <span class="fw-bold">Publication Date:</span>
                        <span>03.10.2019</span>
                    </span>
                </div>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-download fs-4"></i>
                    <div class="fs-7 my-1">Downloads</div>
                    <div class="fs-5 fw-bold">1K+</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-bookmarks fs-4"></i>
                    <div class="fs-7 my-1">Saved</div>
                    <div class="fs-5 fw-bold">420</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-chat-quote fs-4"></i>
                    <div class="fs-7 my-1">Cited</div>
                    <div class="fs-5 fw-bold">300</div>
                </div>
                <div class="summary-block p-2 ms-3">
                    <i class="bi bi-eye fs-4"></i>
                    <div class="fs-7 my-1">Views</div>
                    <div class="fs-5 fw-bold">278</div>
                </div>
            </div>
            <!-- <div class="row border-bottom mt-4"></div> -->
        </div>

        <div class="row pt-4">

            <div class="col-2 px-2 authors">
                <div class="d-flex p-2 bd-highlight">
                    <h5>AUTHORS (5)</h5>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 1</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 2</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 3</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 4</a>
                </div>
                <div class="d-flex p-2 bd-highlight">
                    <a href="#" class="btn btn-outline-dark text-dark rounded-pill border-1 p-1 pe-2 mb-1" tabindex="-1"
                        role="button" aria-disabled="true"><i class="ps-1 pe-1 bi-person-circle"></i>Author 5</a>
                </div>
            </div>
            <div class="col-6 px-4">
                <div class="d-flex p-2 bd-highlight">
                    <h5>ABSTRACT</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                   
                    The survey focused on women's interest in politics in general and in specific policy areas in particular, 
                    their expectations of political parties and politicians, and their willingness to become politically or socially involved. 
                    Of particular interest here was the question of the extent to which there are differences in attitudes, 
                    experiences and expectations within the group of women. 
                    Do women academics have other political interests than women with low formal education? 
                    Or do the expectations that women in West Germany have of politics differ from those of women in East Germany? 
                    It should also be ascertained whether women perceive female politicians differently from male politicians. 
                    Are there characteristics that they attribute more to a male politician or more to a female politician? After all, 
                    the issue of equal rights played a prominent role in the survey. 
                    The perceived realisation of equal rights for men and women in Germany in general and in selected areas of life was measured.

                    Topics: Political understanding and interest: interest in politics; particularly interesting political topics; 
                    attitude towards elites (politics and political parties); frequency of discussions on political and social topics with various groups 
                    (life partner or family, friends and acquaintances, in a public political event, colleagues, sports and hobby clubs, 
                    on Facebook or in other social networks); political information behaviour (informing people who lack knowledge about a political topic, 
                    intensive reflection on political issues, dealing with various party positions, 
                    interest in the person in office of important political offices, own suggestions 
                    for improvement with regard to living conditions in the place of residence); 
                    attitude towards political styles: opinion on how parties and politicians deal with each other (should be considerate, 
                    can be hard to deal with as long as it is content and not personal, 
                    or occasionally personal attacks on politicians of other parties are fine); political discussion behaviour.
                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>POLITICAL AND SOCIAL ENGAGEMENT</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>
                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>REFERENCES</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item border-0">
                            <span>Presse- und Informationsamt der Bundesregierung (2019). 
                                Women and Politics. GESIS Data Archive, Cologne. ZA6719 
                                Data file Version 1.0.0, https://doi.org/10.4232/1.13220.</span>
                        </li>
                        <li class="list-group-item border-0">
                            Saphire E.O., Schendel S.L., Fusco M.L. et al. (2018) Systematic analysis of monoclonal
                            antibodies against ebola virus
                            GP defines features that contribute to protection. Cell, 174, 938–952.
                        </li>
                        <li class="list-group-item border-0">
                            Wilkinson M., Dumontier M. and Aalbersberg I. (2016) The FAIR guiding principles for
                            scientific data management and
                            stewardship. Sci. Data, 3, 1–9.
                        </li>
                        <li class="list-group-item border-0">
                            Wang J., Youkharibache P., Marchler-Bauer A. et al. (2022) iCn3D: from webbased 3D viewer to
                            structural analysis tool in
                            batch mode. Front. Mol. Biosci., 9, 1–10.
                        </li>
                    </ol>
                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>CITED BY</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>
            </div>
            <div class="col-4 ps-5">
                <div class="d-flex p-2 bd-highlight">
                    <h5>RECOMMENDATIONS</h5>
                </div>
                <div class="d-flex flex-column p-2 fs-6 border-bottom pb-4">
                    <div class="card mb-2 p-2 rounded-extra">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <a class="text-dark fw-bold" href='#' target='_blank'>
                                    Polarisation of Politics and Society</a>
                            </div>
                            <div class="d-flex justify-content-between fs-7 pt-3">
                                <span class="badge bg-pill">04.02.2019</span>
                                <span class="">
                                    <a class="text-decoration-none fw-bold" href='#' target='_blank'>
                                        READ MORE ></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2 p-2 rounded-extra">
                        <div class="card-body">
                            <div class="d-flex bd-highlight">
                                <a class="text-dark fw-bold" href='#' target='_blank'>
                                    Investing in Education in Europe: Attitudes, Politics and Policies (INVEDUC)</a>
                            </div>
                            <div class="d-flex justify-content-between fs-7 pt-3">
                                <span class="badge bg-pill">15.07.2020</span>
                                <span class="">
                                    <a class="text-decoration-none fw-bold" href='#' target='_blank'>
                                        READ MORE ></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" d-flex p-2 bd-highlight pt-4">
                    <h5>FAIR Assessment</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

                <div class="d-flex p-2 bd-highlight pt-4">
                    <h5>Jupyter Lab</h5>
                </div>
                <div class="d-flex p-2 bd-highlight fs-6 border-bottom pb-4">

                </div>

            </div>
        </div>





    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    $(document).ready(function () {


    });



</script>


{% endblock javascripts %}