<table id="tbl-events" class="datatable display" style="width:100%">
    <thead>
        <tr>
            <th>Events</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9 fs-6">
                                <div class="row">
                                    <div class="col-md-6 fs-5">
                                        <a class="text-secondary fw-bold" href='/events-details' target='_blank'>
                                           Events Overview</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                </div>

            <tr>
            <td>
                <div class="card mb-2 p-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-11 fs-6">
                                <div class="row mb-2">
                                    <div class="col-lg-12 fs-5">
                                         <div class="d-flex bd-highlight">
                        <a class="text-dark fw-bold" href='#' target='_blank' style="text-decoration: none">XChange Frankfurt</a>
                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="card-text">
                                            <br>Date: 07 Nov 2023 - 09 Nov 2023
                                            <br>Location: Frankfurt am Main, Germany
                                            <br>www.xchange-frankfurt.de</p>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-lg-9 text-start">
                                            <span class="badge bg-pill">Computer Science</span>
                                            <span class="badge bg-pill">Europe</span>
                                            <span class="badge bg-pill">Germany</span>
                                            <span class="badge bg-pill">Conference</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="row fs-5">
                                    <!-- <div class="col-lg-12 text-end mb-3"><a target='_blank' href="#" title="bookmark"><i
                                                class="bi bi-bookmark"></i></a></div> -->
                                    <div class="col-lg-12 text-end mb-3"><a target='_blank' href="#" title="Share"><i
                                                class="bi bi-share"></i></a></div>
                                    <div class="col-lg-12 text-end mb-3"><a target='_blank' href="#" title="Preview"
                                            data-bs-toggle="modal" data-bs-target="#full_size_image_dialog"><i
                                                class="bi bi-eye"></i></a></div>
                                    <div class="col-lg-12 text-end mb-3"><a target='_blank'
                                            href="#" title="Download"><i
                                                class="bi bi-download"></i></a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
   </tbody>
</table>