<table id="tbl-publications" class="datatable display" style="width:100%">
    <thead>
        <tr>
            <th>Publications</th>
        </tr>
    </thead>
    <tbody>
        {% for publication in results.publications %}
        <tr>
            <td>
                <div class="card mb-2 p-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-11 fs-6">
                                <div class="row">
                                    <div class="col-lg-12 fs-6">
                                        <a class="text-dark fw-bold" href='#' target='_blank'>
                                            {{publication.name}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 px-0 mt-2 mb-2">
                                        {% for author in publication.author %}
                                        <a href="{{author.identifier}}"
                                            class="btn btn-outline-dark text-dark rounded-pill border-1 p-1"
                                            tabindex="-1" role="button" aria-disabled="true"><i
                                                class="ps-1 pe-2 bi-person-circle"></i>{{author.name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="card-text">{{publication.description|truncate(500)}}</p>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-lg-9 text-start">
                                        <span class="badge text-bg-info">DBLP</span>
                                        <span class="badge text-bg-info">English</span>
                                        <span class="badge text-bg-info">PDF</span>
                                        <span class="badge text-bg-info">License</span>
                                    </div>
                                    <div class="col-lg-3 text-end">
                                        <span class="badge text-bg-info">12.07.2023</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="row fs-5">
                                    <div class="col-lg-12 text-end mb-3"><a target='_blank' href="#" title="bookmark"><i
                                                class="bi bi-bookmark"></i></a></div>
                                    <div class="col-lg-12 text-end mb-3"><a target='_blank' href="#" title="bookmark"><i
                                                class="bi bi-share"></i></a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>