{% from 'partials/common/share-modal.html' import shareModal %}
{% for researcher in results.researchers %}
<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 col-md-2 col-lg-2">
                <img class="rounded-circle img-fluid" loading="lazy"
                    src="{{ url_for('static', filename='images/user-profile-sample.jpg') }}">
            </div>
            <div class="col-sm-6 col-md-9 col-lg-9 fs-6">
                <div class="row">
                    <div class="col-6">
                        <a class="text-secondary fw-bold"
                            href="/researcher-details/{{researcher | format_digital_obj_url('orcid')}}" target='_blank'>
                            {{researcher.name}}</a>
                    </div>
                    <div class="col-6">
                        ORCID:
                        {% if researcher.identifier != "" %}
                        <a class="text-secondary fw-bold" href='https://orcid.org/{{researcher.identifier}}'
                            target='_blank'>{{ researcher.identifier }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row px-2 pt-3">
                    <div class="col-6 d-flex flex-column">
                        <span class="">Alternate Names</span>
                        {% for altName in researcher.alternateName %}
                        <span class="fw-bold">{{ altName }}</span>
                        {% endfor %}
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <span class="">Affiliations</span>
                        {% for org in researcher.affiliation %}
                        <span class="fw-bold">{{ org.name }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row px-2 pt-3">
                    <div class="col-6 d-flex flex-column">
                        <span class="">Works</span>
                        <span class="fw-bold">{{researcher.works_count}}</span>
                    </div>
                    <div class="col-6 d-flex flex-column">
                        <span class="">Citations</span>
                        <span class="fw-bold">{{researcher.cited_by_count}}</span>
                    </div>
                </div>
                <div class="row px-2 pt-3">
                    <div class="col-9 text-start">
                        {% for source in researcher.source %}
                        <a id="source_link" href="{{source.url}}" target=_blank>
                            <span class="badge bg-pill text-wrap text-break">{{source.name}}</span>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="col-3 text-end">
                        <!-- <span
                            class="badge bg-pill bg-success text-wrap text-break">Score:{{researcher.rankScore}}</span> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-1 col-lg-1 ">
                <div class="row fs-5">
                    <!-- <div class="col-lg-12 text-end mb-3"><a target='_blank' href="#" title="bookmark"><i
                                                    class="bi bi-bookmark"></i></a></div> -->
                    {% if researcher.identifier != '' %}
                    <div class="text-end mb-3"><a href="#" title="Share" class="share_modal_link" data-bs-toggle="modal"
                            data-bs-target="#share-researcher-{{researcher.identifier | regex_replace ('\W','') }}"><i
                                class="bi bi-share"></i></a>
                        {% endif %}
                    </div>
                </div>

                {% with share_modal_id='share-researcher-'+researcher.identifier | regex_replace ('\W',''),
                url = url_for('researcher_details', identifier_with_type=(researcher | format_digital_obj_url('orcid')),
                _external=True),
                title = researcher.name | trim
                %}
                {{ shareModal(share_modal_id, url, title) }}
                {% endwith %}

            </div>
        </div>
    </div>
</div>
{% endfor %}

<div id="div_load_more_researchers" class="row text-center my-2">
    <div class="col">
        {% if session.displayed_search_results.researchers
        < session.total_search_results.researchers %} <div>Displaying top {{
            session.displayed_search_results.researchers }} researchers out of
            {{ session.total_search_results.researchers }}
    </div>
    <br />
    <button type="button" class="btn btn-secondary" aria-label="Load more researchers"
        id="btn_load_more_researchers">Load
        more researchers</button>
    {% endif %}
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (document.getElementById('btn_load_more_researchers')) {
            document.getElementById('btn_load_more_researchers').addEventListener('click', function () {
                console.log('load more researchers button clicked')
                load_more('researchers');
            });
        }
    });
</script>